
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #0D419D, #8957E5);
}

.text-box {
    color: #fff;
    margin-top: 60px;
    font-size: 80px;
    padding: 2px 2px 2px 2px;
    font-family: "VT323", serif;
}
.text-box:hover{
    cursor:pointer;
    box-shadow: 0px 0px 16px rgba(0, 123, 255, 0.5); 
}

.search-form {
    width: clamp(280px, 90vw, 400px);
    height: 50px;
    display: flex;
}
.search-form input,
.search-form button {
    flex-basis: 70%;
    background-color: white;
    outline: none;
    border: none;
    color: #021024;
    box-shadow: 0px 0px 16px rgba(0, 123, 255, 0.5);
    border-radius: .5rem 0 0 .5rem;
    padding: 0 1rem;
    font-size: 1rem;
}
.search-form button {
    flex-basis: 30%;
    border-left: 1px solid grey;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    transition: 200ms ease-in-out background-color;
}
.search-form button:hover { 
    border-color: #0077ff;
    box-shadow: 0px 0px 16px rgba(0, 123, 255, 0.5);
    background-color: #021024;
    color:#fff;
 }
.search-form button:active { transform: scale(.93); }

.card {
    width: clamp(280px, 90vw, 400px);
    background-color: #fff;
    box-shadow: 0 0 1.5rem #021024;
    margin-top: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}
.avatar {
    width: 100px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 .5rem #021024;
    outline: 1px solid #fff;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info * {
    margin: .3rem 0;
}
.info h2,
.info p {
    text-align: center;
    color: rgb(4, 0, 0);
}
.info h2 { margin-top: 1rem; }
.info p { color: #021024; }
.follow-info {
    display: flex;
    column-gap: 1.5rem;
}
.single { color: #021024; }
.single span:first-of-type { font-weight: 600; }
.single span:last-of-type { color: #021024; }

.card a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    position: relative;
}
.card a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px ;
    background-color: #121454;
    transform: scaleX(0);
    transform-origin: right;
    transition: 200ms ease-in-out transform;
}
.card a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
.repos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.card p {
    color: RED;
    text-align: center;
    max-width: 100%;
    overflow-wrap: break-word;
}
